[Unit]
Description=Nabaztag ServerCore
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/dotnet/dotnet /opt/nabsrv/Nabaztag.ServerCore.exe -f -i
WorkingDirectory=/opt/nabsrv/
User=root

[Install]
WantedBy=multi-user.target